body {
    background-color: #ffdc82;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #204099;
    padding: 20px 0;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffdc82;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #e5be5f;
    text-decoration: underline;
}

.logo {
    width: 40%;
}

.conteudo-central {
    background: linear-gradient(#ffdc82, #B39549);
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    margin: 0 0 1em;
    font-weight: bold;
    font-size: 2em;
    clear: left;
}

.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

p {
    color: black;
}

.mapa {
    padding: 3em 0;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    margin: 3em 0;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    width: 40%;
    opacity: 90%;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens::before {
    content: "★";
}

footer {
    text-align: center;
    background-color: #204099;
    padding: 60px 0;
    width: 100%;
    height: 1%;
}